<app-header></app-header>
<div *ngFor="let user of userDetails">
    <app-user-detail [item]="user" (updatedetail)="updateData($event)"></app-user-detail>
</div>
<app-user-detail  (updatedetail)="updateData($event)"></app-user-detail>
<p class="muted">Placeholder text to demonstrate some <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip">inline links</a> with tooltips. This is now just filler, no killer. Content placed here just to mimic the presence of <a href="#" data-bs-toggle="tooltip" data-bs-title="Another tooltip">real text</a>. And all that just to give you an idea of how tooltips would look when used in real-world situations. So hopefully you've now seen how <a href="#" data-bs-toggle="tooltip" data-bs-title="Another one here too">these tooltips on links</a> can work in practice, once you use them on <a href="#" data-bs-toggle="tooltip" data-bs-title="The last tip!">your own</a> site or project.</p>
<h1>{{today | date:'fullDate'}}</h1>
<img src="../assets/logo.svg" alt="sdf" width="200px" height="200px">
<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <button ngbNavLink>First</button>
      <ng-template ngbNavContent>First content</ng-template>
    </li>
    <li ngbNavItem>
      <button ngbNavLink>Second</button>
      <ng-template ngbNavContent>Second content</ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
  <script>
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>